@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap");

body {
  font-family: "Poppins", sans-serif !important;
}

span.MuiTypography-root.MuiTypography-body1.MuiListItemText-primary.css-10hburv-MuiTypography-root {
  font-family: "POPPINS";
  font-weight: 600;
  font-size: 18px;
}

ul {
  list-style: none;
  display: flex;
  justify-content: space-around;
  width: 300px;
  margin: 45px auto;
}

li.selected {
  background: black;
  color: white;
  padding: 6px 15px;
  border-radius: 100px;
}
